# ─── Node ────────────────────────────────────────────
node_modules/

# ─── Cordova generated folders ───────────────────────
platforms/
plugins/

# ─── Build outputs ───────────────────────────────────
www/build/

# ─── macOS ───────────────────────────────────────────
.DS_Store

# ─── IDE ─────────────────────────────────────────────
.vscode/
.idea/
